<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/home.css" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Beyond the Pages Book Club</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Book Club</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about-us">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Beyond the Pages Book Club</h1>
    <p>
      At Beyond the Pages, our mission is to foster a love for reading and to
      cultivate a space where members can delve deeper into the worlds created
      by authors. We aim to go beyond merely reading the pages of a book by
      encouraging meaningful dialogue, critical thinking, and personal
      reflection. Our discussions are designed to challenge viewpoints, spark
      curiosity, and build a community where every voice is heard and valued.
    </p>
    <h2>Benefits of this book club :</h2>
    <ul>
      <li>
        <strong>Diverse Reading Selections:</strong> Explore a wide range of
        genres and authors, ensuring fresh and exciting reading experiences each
        month.
      </li>
      <li>
        <strong>Engaging Discussions:</strong> Participate in lively and
        thought-provoking conversations that deepen your understanding and
        appreciation of each book.
      </li>
      <li>
        <strong>Author Insights:</strong> Gain unique perspectives through guest
        appearances by authors and literary experts.
      </li>
      <li>
        <strong>Themed Events:</strong> Enjoy fun and interactive activities
        such as literary trivia nights, book-themed potlucks, and movie
        screenings.
      </li>
      <li>
        <strong>Online Community:</strong> Connect with fellow book lovers from
        around the world through our active online platform, perfect for those
        who can't attend in-person meetings.
      </li>
      <li>
        <strong>Personal Growth:</strong> Enhance your critical thinking,
        empathy, and cultural awareness by engaging with diverse narratives and
        viewpoints.
      </li>
      <li>
        <strong>Sense of Community:</strong> Build meaningful relationships and
        be part of a supportive, inclusive community of readers.
      </li>
    </ul>
    <a
      href="https://images.unsplash.com/photo-1506880018603-83d5b814b5a6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      target="_blank"
    >
      <img
        src="https://images.unsplash.com/photo-1506880018603-83d5b814b5a6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Book Club Meeting"
        width="300"
      />
    </a>
    <a
      href="https://images.pexels.com/photos/545068/pexels-photo-545068.jpeg"
      target="_blank"
    >
      <img
        src="https://images.pexels.com/photos/545068/pexels-photo-545068.jpeg"
        alt="Group of People Reading"
        width="300"
      />
    </a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
