{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#  <head>#}
{#    <meta charset="UTF-8" />#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
{#    <title>Details Page</title>#}
{#  </head>#}
{#  <body>#}
{#    <p>{{book_details}}</p>#}
{#    <div class="book-details">#}
{#        <h2 class="mb-4">Book Details</h2>#}
{#        <p><span class="font-weight-bold">Title:</span> {{ book_details.title }}</p>#}
{#        <p><span class="font-weight-bold">Price:</span> ${{ book_details.price }}</p>#}
{#        <p><span class="font-weight-bold">Publisher:</span> {{ book_details.publisher.name }}</p>#}
{#    </div>#}
{#    <br>#}
{#    <a href="{%  url 'myapp:index' %}">go back using url namespacing link</a>#}
{#  </body>#}
{#</html>#}